header{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
h1{
    font-size: 1em;
    text-transform: uppercase;
}          
#top-nav{
    display:none;
}
.material-symbols-outlined{
    float: right;
}